.dashboard {
  padding: 20px;
  overflow-y: scroll !important;
}

.dashboard .ant-card {
  border-radius: 10px;
}

.dashboard .ant-card-title {
  font-size: 18px;
  font-weight: bold;
}

.dashboard .ant-statistic {
  text-align: center;
}

.dashboard .ant-card-body {
  padding: 10px;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart-container canvas {
  max-width: 100%;
  max-height: 250px;
}

.bar-chart-container {
  height: 300px;
}

.small-card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
