/* TransactionManagementForm.css */
.styled-table .ant-table-thead > tr > th {
  background-color: #09549a;
  color: #ffffff;
  font-weight: bold;
  /* overflow-y: hidden; */
}

.styled-table .ant-table-tbody > tr > td {
  background-color: #e6ecf2;
  color: #070808f6;
}

.styled-table .ant-table {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
